{% extends 'sv2013/templates/wrapper.html'%}
{% block main_content %}
    <h2>Speaker Bios</h2>
    <p><i>(click on the speaker name or photo to view speaker details)</i></p>
    <hr />
    {% for speaker in speakers %}
    <a name="{{ speaker.id }}"></a>
    <div class="box">
        <div class="box-content">
            <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" href="#{{ speaker.id }}_">
                    {% if speaker.image %}<img class="bioimg" src="{{ speaker.image.url }}" />{% endif %}
                    <h4>{{ speaker.name }}</h4></a>
                    {% if speaker.organization %}{{ speaker.organization }}<br/>{% endif %}
                    <h5>{% for presentation in speaker.presentation_set.all %}
                    <a href="/abstracts/#{{presentation.id}}">{{ presentation.title }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}</h5>
                </div>
                <div id="{{ speaker.id }}_" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {{ speaker.bio|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endfor %}
    
    
{% endblock %}
