{% extends 'base/templates/wrapper.html' %}

{% block main_content %}
<div class="span8">

{% for proposal in proposals %}
    <div class="proposal_block">
            {{ proposal.speaker_name }} - {{ proposal.speaker_email }}<br>
            <a href="view/{{ proposal.id }}">{{ proposal.title }}</a><br/>
            <br/>
            Abstract:<br/>
            {{proposal.abstract}}<br/>
            <br/>
            Bio:<br/>
            {{proposal.bio}}<br/>
            <br/>
            Additional info:<br/>
            {{proposal.additional_info}}<br/><br/><br/>
    </div>
{% endfor %}
</div>
{% endblock %}