<div class="banner">
    <div class="row">
    	<div class="white">
            <div class="container">
                <div style="margin-left: auto; margin-right: auto">
                    <h1><a href="http://pydata.org/" class="logo">PyData.org</a></h1>
                </div>
            </div>
        </div>
        <div class="grey">
            <div class="container">
                <div class="row" style="height: 40px">
                    <div class="span12" >
                        <h4>Changing the way scientists, engineers, and analysts perceive big data</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orange">
            <div class="container">
                <div class="span12">
                    <p>
                        &nbsp;<br>
                        &nbsp;<br>
                        &nbsp;<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

