<header class="main">
	<div class="blue"></div>
        <div class="navbg">
            <div style="float: left; margin-top: -40px; margin-left: 10px; margin-left: 10px;">
                <a href="https://twitter.com/PyDataConf" title="Follow @PyDataConf on Twitter" target="_blank"><img src="../images/twitter_header.png" alt="Follow @continuumio on Twitter" width="33" height="33"></a>
            </div>
            <div class="container" style="height: 75px">
                {% include navmenu %}
            </div>
        </div>
	</div>
</header>
