<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{% block title %}PyData 2013 | Santa Clara, CA | March 18 &ndash; 20 {{ title }}{% endblock %}</title>
    {% block head_info %}
        {% include head %}
    {% endblock head_info%}
</head>
<body>
    {% block header %}
    	{% include header %}
    {% endblock header %}

    {% block banner %}
    	{% include banner %}
    {% endblock banner %}
    
	<div class="container">
		<div class="row">
        <!--<div class="span12" style="text-align: center">
            <h4>Presented by</h4>
            <h2><a href="http://continuum.io"><img src="/static/base/includes/images/ca190w.png" /></a></h2>-->
		{% include sponsors %}
        <hr>
        </div>
            
            {% block main_content %}
            <div class="span12">
                {% include page_path %}
            </div>
            {% endblock main_content %}
        </div>
        <hr>
        <div style="text-align: center">
            {% block footer %}
                {% include footer %}
            {% endblock footer %}
        </div>
	</div>
    {% include scripts %}
</body>
</html>