<div class="navbar navbar-inverse">
    <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            </a>
        <div class="nav-collapse">
            <ul class="nav">
            <!--About-->
                <li class="">
                	<a href="http://nyc2012.pydata.org" title="nyc2012">PyData New York<br>November 2012</a>
                </li>
                <li class="">
                	<a href="/sv2013/" title="sv2013">PyData Silicon Valley<br>March 2013</a>
                </li>
                <li class="">
                	<a href="/bos2013/" title="bos2013">PyData Boston<br>July 27-28 2013</a>
                </li>
                <li class="">
                	<a href="#" title="lonxxxx" style="color: #999;">PyData London<br>Coming Soon</a>
                </li>
                <li class="">
                	<a href="#" title="chixxxx" style="color: #999;">PyData Chicago<br>Coming Soon</a>
                </li>
            </ul>
        </div>
    </div>
</div>

          
