
<script type="text/javascript" async src="/static/base/includes/js/ga.js"></script>
<script src="/static/base/includes/js/jquery.js"></script>
<script type="text/javascript" src="/static/base/includes/js/ajax_csrf.js"></script>
<script type="text/javascript" src="/static/base/includes/js/jquery.markitup.js"></script>
<script type="text/javascript" src="/static/base/includes/js/set.js"></script>

<script src="/static/base/includes/js/bootstrap.min.js"></script>
<script src="/static/base/includes/js/theme.js"></script>
<script type="text/javascript">
    // Stupid fix until bootstrap fixes mobile nav menus
    $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
</script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-27761864-3']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);
	// _gaq.push(['_setCustomVar', 1, 'Authentication Type', ut, 2]);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
    $(function(){
        var slider = $("#sponsorslider").carousel({interval: 7000});
        slider.bind("slid", function() {
            var index = $(this).find(".active").index();
            $(this).find("#slider-nav a").removeClass("activeSlide").eq(index).addClass("activeSlide");
        });
        $("#slider-nav a").click(function(e){
            var index = $(this).index();
            slider.carousel(index);
            e.preventDefault();
        });

        var retina = window.devicePixelRatio > 1.5 ? true : false;
        if (retina) {
            $("div.sponsor-scroll-item").each(function() {
                var retinaimage = $(this).data("background-2x");
                $(this).css("background-image", "url("+retinaimage+")");
                // preload image
                $('<img/>')[0].src = retinaimage;
            })
        };
    });
</script>
