<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>{{ page_title }}</title>
        <link href="/site_media/static/symposion/css/symposion.css" rel="stylesheet">
        <link href="/site_media/static/pydata_custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/site_media/static/img/favicon.ico"/>
    	<link rel="apple-touch-icon" href="/site_media/static/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/site_media/static/img/apple-touch-icon-72x72.png" />
    	<link rel="apple-touch-icon" sizes="114x114" href="/site_media/static/img/apple-touch-icon-114x114.png" />
        <script src="/site_media/static/pinax/js/jquery.js"></script>
        <link href="/site_media/static/markitup/skins/simple/style.css" type="text/css" media="screen" rel="stylesheet" />
        <link href="/site_media/static/markitup/sets/markdown/style.css" type="text/css" media="screen" rel="stylesheet" />
        <script type="text/javascript" src="/site_media/static/markitup/ajax_csrf.js"></script>
        <script type="text/javascript" src="/site_media/static/markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="/site_media/static/markitup/sets/markdown/set.js"></script>
    </head>
    <body class="cms-page" id="">
        <div class="container">
            <header id="masthead">
                <img src="/site_media/static/spacer.gif" alt="PyData NYC 2012" width="410" height="125" border="0"  usemap="#spacerMap" id="spacer" style="float: left; margin-left: 70px;"/>
                <map name="spacerMap" id="spacerMap">
                  <area shape="rect" coords="0,0,410,125" href="/" target="" alt="PyData" />
                </map>
                <div class="pull-right">
                    <ul class="nav nav-pills">
                            <li>
                                <a href="/account/login/">Log in</a>
                            </li>
                            <li>
                                <a href="/account/signup/">Sign up</a>
                            </li>
                    </ul>
                </div>
                <h1><a href="/">{{ conf_name }}</a></h1>
                <h2><a href="/"><span style="font-weight: 200;">{{ conf_date }}</span></a></h2>
            </header>
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class=" ">
                                <a href="/" >
                                    Home
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/info/" >
                                    Info
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/about/" >
                                    About
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/venue/" >
                                    Venue
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/sponsors/becoming/" >
                                    Sponsors
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/schedule/" >
                                    Schedule
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/hack/" >
                                    Hack-a-thon
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/press/" >
                                    Press
                                </a>
                            </li>
                            <li class=" ">
                                <a href="/bios/" >
                                    Speakers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{{ page_path }}

                <div class="span3">
                    
                        <title></title>




<div align="center" style="position: relative; margin-top: auto;">
    <a href="http://pydata.eventbrite.com/" target="_blank">
        <img border="0" src="http://www.eventbrite.com/custombutton?eid=2586380814" alt="Register for Eventbrite API - Office Hours on Eventbrite" />
    </a>
</div>

<div align="center" style=" margin-bottom: -1em; position: relative;" ><br/>
    <a href="http://www.continuum.io/" title="Continuum Analytics" target="_blank"><img src="/site_media/static/continuumpb.png" alt="PyData NYC 2012 presented by Continuum Analytics" width="265" /></a><br />
</div>
<br />

<div align="center" class="sponsor-list"><br/>
    
        
    
        
            <h3 style="margin-bottom: 1em; margin-top: 1em; border: 1px solid green;">Gold Sponsors</h3>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.deshaw.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/DESCO_Logo_color.jpg.160x120_q85.jpg" alt="D. E. Shaw &amp; Co." />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.jpmorganchase.com/corporate/Home/home.htm">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/JPM_Logo.jpg.160x120_q85.jpg" alt="JP Morgan" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.appnexus.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/appnexus-logo_1.png.160x120_q85.jpg" alt="appnexus" />
                    </a>
                </div>
            
        
    
        
            <h3 style="margin-bottom: 1em; margin-top: 1em; border: 1px solid green;">Silver Sponsor</h3>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.python.org/psf/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/sponsor_psfc.jpeg.160x120_q85.jpg" alt="Python Software Foundation" />
                    </a>
                </div>
            
        
    
        
            <h3 style="margin-bottom: 1em; margin-top: 1em; border: 1px solid green;">Student Sponsor</h3>
            
                <div style="margin: 0px 0;">
                    <a href="http://numfocus.org/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/nf-web-logo_1.jpeg.160x120_q85.jpg" alt="NumFOCUS" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://matchpointpro.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/Match_Point_Logo.jpg.160x120_q85.jpg" alt="Match Point Productions" />
                    </a>
                </div>
            
        
    
        
            <h3 style="margin-bottom: 1em; margin-top: 1em; border: 1px solid green;">Community Partners</h3>
            
                <div style="margin: 0px 0;">
                    <a href="http://metaoptimize.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/metaoptimize-logo-20111109-400x140.jpg.160x120_q85.jpg" alt="metaoptimize" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://oreilly.com/dataweek/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/Screen_shot_2012-10-10_at_3.34.45_PM.png.160x120_q85.jpg" alt="NYC Data Week" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.pythonweekly.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/python-weekly-logo.png.160x120_q85.png" alt="Python Weekly" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://www.lambdafoundry.com/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/lf_logo_sq-trans.png.160x120_q85.png" alt="Lambda Foundry" />
                    </a>
                </div>
            
        
    
        
            <h3 style="margin-bottom: 1em; margin-top: 1em; border: 1px solid green;">With Support From</h3>
            
                <div style="margin: 0px 0;">
                    <a href="http://numpy.scipy.org/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/numpy_4.png.160x120_q85.jpg" alt="Numpy" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://pandas.pydata.org/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/pandas_logo_1.png.160x120_q85.png" alt="Pandas" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://scipy.org/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/scipy_logo_1.png.160x120_q85.jpg" alt="SciPy" />
                    </a>
                </div>
            
                <div style="margin: 0px 0;">
                    <a href="http://ipython.org/">
                        <img style="margin-bottom: 1.5em;" src="/site_media/media/sponsor_files/IPy_header.png.160x120_q85.png" alt="IPython" />
                    </a>
                </div>
            
        
    
</div>

                    
                </div>
                <div class="span12">
                    <hr style="width: 880px; height: 1px; background-color: #8FC73E;" />
                    <b>&copy; 2012 <a href="http://www.continuum.io" title="Continuum Analytics" target="_blank">Continuum Analytics</a><div class="pull-right" style="margin-right: 60px;">Questions about attending or sponsorship? <a href="mailto:pydataconf@continuum.io" title="Contact us about sponsorship">Contact us</a>.</div></b>
                </div>
            </div>
        
    </div>


        
            <div id="footer">
                <div class="inner">
                    <div class="container">
                        
    
<footer class="footer">
    <a href="http://pinax.github.com/symposion/"><b>Symposion</b></a>:
    a Pinax project sponsored by
    <a href="http://eldarion.com/">Eldarion</a>
    and the
    <a href="http://www.python.org/psf/">Python Software Foundation</a>.
</footer>


                    </div>
                </div>
            </div>
        

        
    
    <script src="/site_media/static/bootstrap/js/bootstrap.js"></script>
    <script src="/site_media/static/pinax/js/theme.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#logout_link").on("click", function(e) {
                var form = $($(this).data("form-submit"));
                form.submit();
                return false;
            });
            $(".required-field").prepend("<span style='color:red;'>* </div>");
        });
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27761864-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
  })();

</script>

    


        
            
        
    </body>
</html>