<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>PyData 2013 | Santa Clara, CA | March 18 &ndash; 20 {{ title }}</title>

    {% include head %}

</head>
<body>
		{% include header %}

    	{% include banner %}
	<div class="container">
		<div class="row">
			{% include sponsors %}
            <div class="span8">
                {% include page_path %}
            </div>
            <div class="span4">
            	{% include sidebar %}
            </div>
        </div>
        <hr>
		{% include footer %}
	</div>
    {% include scripts %}
</body>
</html>