<div class="banner">
    <div class="row">
    	<div class="white">
            <div class="container">
                <div style="margin-left: auto; margin-right: auto">
                    <h1><a href="http://pydata.org/" class="logo">PyData sv2013</a></h1>
                    <h2>Silicon Clara, CA, March 13–21</h2>
                </div>
            </div>
        </div>
        <div class="grey">
            <div class="container">
                <div class="row" style="height: 40px">
                    <div class="span12" >
                        <h4>Changing the way scientists, engineers, and analysts perceive big data</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orange">
            <div class="container">
                <div class="span12">
                  <h3><span>Tutorials: </span> March 18  | <span>Main Conference:  </span>March 19-20</h3>
                  <h3 style="margin-bottom: 25px;"><b>Santa Clara Convention Center</b><br />
                    Santa Clara, CA</h3>
                </div>
            </div>
        </div>
    </div>
</div>

