<div class="banner">
    <div class="container">
        <div class="row">
            <div class="span7">
                <h1><a href="https://pydata.org/" class="logo">PyData sv2013</a></h1>
                <h2>Silicon Clara, CA, March 13–21</h2>
            </div>
            <div class="span5">
                <p class="intro">
                    The largest annual gathering<br>
                    for the community using and developing<br>
                    the open-source<br>
                    <strong>Python programming language</strong>
                </p>
            </div>
        </div>
        <div class="dotted-ln"></div>
        <div class="row">
            <div class="span12">
                <h4>Change the future - education, outreach, politeness, respect, tenacity and vision</h4>
            </div>
        </div>
        <div class="dotted-ln"></div>
        <div class="row">
            <div class="span4">
                <ul class="unstyled">
                    <li><a href="/#"><span>Tutorials:</span>  March 18</a></li>
                    <li><a href="/#"><span>Main Conference:</span>  March 19-20</a></li>
                </ul>
            </div>
            <div class="span5">
                <div class="presented">
                    <div class="bdr"></div>
                    <h6>Presented By</h6>
                            <a href="http://continuum.io/">
                                <img src="/static/base/includes/images/continuumpd.png" alt="continuum" width="100">
                            </a>
                        
                            <!--<a href="http://google.com/">
                                <img src="../Google_1.png.100x60_q85.png" alt="">
                            </a>-->
  
                    <div class="bdr bdr-r"></div>
                </div>
            </div>
            <div class="span3 tickets-info">
                <div class="tickets"></div>
                <h6>Registration</h6>
                <p>
                    <strong>Now Open!</strong> <br>
                    <a href="http://sv2013.eventbrite.com/" title="Register for PyData Santa Clara">Click here to register.</a>
                </p>
            </div>
        </div>
        <div class="dotted-ln no-mrg-btm"></div>
    </div>
</div>
