<footer>
            
    <p>
        PyData US 2013 is a production of the <a href="http://pydata.org/">Pydata Software Foundation</a>.
    <br>
        Site built by <a href="http://continuum.io/">Continuum Analytics</a> using <a href="http://djangoproject.com" title="Django - The Web framework for perfectionists with deadlines.">Django</a>. Hosting provided by <a href="http://cloudspace.com/">Cloudspace</a>.
    <br>
        Questions? Comments? Contact <a href="mailto:pydata-organizers@pydata.org">pydata-organizers@pydata.org</a>
    </p>
            
</footer>

