
<link href="https://us.pycon.org/2013/site_media/static/pinax/css/theme.css" rel="stylesheet">
<link href="/static/{{ conf_style_id }}/includes/images/favicon.ico" rel="shortcut icon" />
<!--<link rel="stylesheet" href="/static/{{ conf_style_id }}/includes/css/site.css" type="text/css" media="screen">
            

<!--<link href="/static/{{ conf_style_id }}/includes/css/style(1).css" type="text/css" media="screen" rel="stylesheet">-->
<link rel="stylesheet" href="/static/{{ conf_style_id }}/includes/css/pydata.css" type="text/css" media="screen"/>
<!--<link href="/static/{{ conf_style_id }}/includes/css/style.css" type="text/css" media="screen" rel="stylesheet">-->
    