<header class="main">
<div style="background-color: #459DB9; height:50px;"></div>
    <div class="container" style="height: 50px">
        <!--<div class="account-bar">
            <div class="row">
                <div class="pull-right">
                    <a href="{{ conf_style_id }}/account/login/">Log in</a>
                    |
                    <a href="{{ conf_style_id }}/account/signup/">Sign up</a>
                </div>
            </div>
        </div> -->
        <div class="navbar navbar-inverse" style="mar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="/" title="Home">Home</a>
                        </li>
                        <li class="">
                            <a href="/{{ conf_style_id }}/about" title="About">About</a>
                        </li>
                        <li class="">
                            <a href="/{{ conf_style_id }}/venue" title="Venue">Venue</a>
                        </li>
                        <li class="">
                            <a href="/{{ conf_style_id }}/sponsor" title="Sponsor">Sponsor</a>
                        </li>
                        <li class="">
                            <a href="/{{ conf_style_id }}/code_of_conduct" title="Code of Conduct">Code of Conduct</a>
                        </li>
                        <li class="dropdown">
                            <a href"/{{ conf_style_id }}/speakers#" class="dropdown-toggle" data-toggle="dropdown" title="Speakers">Speakers<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/{{ conf_style_id }}/speakers" title="Speakers">Speakers</a>
                                </li>
                                <li>
                                    <a href="/{{ conf_style_id }}/abstracts" title="Abstracts">Talk Abstracts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/{{ conf_style_id }}/schedule" title="Chedule">Schedule</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>