<ul>
	<li class="main_level">
		<a href="/sv2013/home">Home</a>
	</li>
	<li class="main_level">
		<a href="/sv2013/about">About</a>
	</li>
	<li class="main_level">
		<a href="/sv2013/venue">Venue</a>
	</li>
	<li class="main_level">
		<a href="/sv2013/sponsor">Become a Sponsor</a>
	</li>
	<li class="main_level">
		<a href="/sv2013/code_of_conduct">Code of Conduct</a>
	</li>
	<li class="main_level">
		<a href="/ny2012/sv2013/speakers">2012 Speakers</a>
	</li>
	<li class="main_level">
		<a href="/ny2012/sv2013/schedule">2012 Schedule</a>
	</li>
	<li class="main_level">
		<a href="/ny2012/sv2013/abstracts">2012 Talk Abstracts</a>
	</li>
</ul>