<div class="nav-bar">
<ul class="nav">
	<li>
		<a href="/{{ conf_style_id }}/home">Home</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/about">About</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/venue">Venue</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/sponsor">Become a Sponsor</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/code_of_conduct">Code of Conduct</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/speakers">Speakers</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/schedule">Schedule</a>
	</li>
	<li>
		<a href="/{{ conf_style_id }}/abstracts">Talk Abstracts</a>
	</li>
</ul>
</div>