<div style="text-align: center; margin-top: 100px">
    <h4>Presented By</h4>
    <h2><a href="http://continuum.io"><img src="/static/sv2013/includes/images/ca190w.png" /></a></h2>
</div>



<div style="margin-left: 20px; text-align: center;">
    <h3>Sponsors</h3>
    {% for level in levels %}
    <h4>{{ level.name|upper }}</h4>
    {% for sponsor in level.sponsors.all %}
    <h4><a href="{{sponsor.url}}"><img style="max-width: 50%;" src="{{ sponsor.logo.url }}" height="{{ level.small_logo_height }}"/></a></h4>
    {% endfor %}
    {% endfor %}
</div>
    