<h4>About</h4>
<p>PyData is a gathering of users and developers of data analysis tools in Python. The goals are to provide Python enthusiasts a place to share ideas and learn from each other about how best to apply our language and tools to ever-evolving challenges in the vast realm of data management, processing, analytics, and visualization.

We aim to be an accessible, community-driven conference, with tutorials for novices, advanced topical workshops for practitioners, and opportunities for package developers and users to meet in person.

A major goal of the conference is to provide a venue for users across all the various domains of data analysis to share their experiences and their techniques, as well as highlight the triumphs and potential pitfalls of using Python for certain kinds of problems.

We invite all conference participants to showcase how they have used Python to solve their problems, by submitting a Showcase/Expo Proposal. These short, 15-minute presentations should help stimulate ideas and questions from other participants, tackling similar problems in other domains.</p>