<div class="span12 sponsor-crawl">
    <h3 class="scroll-title">Sponsors</h3>
    <div class="sponsorship-link">
        <div>
            <span class="in-brackets"><em>Sponsorship available.</em> <a href="/sponsor/info" class="more">Learn more</a>.</span>
	  	</div>
    </div>
    
    <div id="sponsorslider" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {# sponsors without levels, 21 per each slide #}
        {% for sponsor in level.sponsors.all %}
            {% if forloop.first or forloop.counter0|divisibleby:"21" %}
                <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
            {% endif %}

            <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
                <div class="sponsor-scroll-item" style="background-image: url('{{ sponsor.logo.url }}')" data-background-2x="{{ sponsor.logo.url }}"></div>
            </a>
            {% if forloop.counter|divisibleby:"21" or forloop.last %}</div>{% endif %}
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <nav id="slider-nav">
        {% for sponsor in all_sponsors %}
            {% if forloop.first or forloop.counter0|divisibleby:"21" %}
                <a href="#" class="{% if forloop.first %}activeSlide{% endif %}"></a>
            {% endif %}
        {% endfor %}
      </nav>
    </div>
</div>

<!-- PyCons Code for the sponsor scroller
<!--<div class="span12 sponsor-crawl">
<!--        <h3 class="scroll-title">Sponsors</h3>
<!--        {% sponsors "diamond" as diamond_sponsors %}
<!--        {% if diamond_sponsors|length > 1 %}
<!--            <div class="sponsorship-link">
<!--                {% include "_sponsorship_link.html" %}
<!--            </div>
<!--        {% endif %}
<!--        <div id="sponsorslider" class="carousel slide">
<!--          <!-- Carousel items --
<!--          <div class="carousel-inner">
<!--          {% sponsors as all_sponsors %}
<!--            {# sponsors without levels, 21 per each slide #}
<!--            {% for sponsor in all_sponsors %}
<!--                {% if forloop.first or forloop.counter0|divisibleby:"21" %}
<!--                    <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
 <!--               {% endif %}
<!--
 <!--               <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
 <!--                   <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '95x95' %}')" data-background-2x="{% thumbnail sponsor.website_logo '190x190' %}"></div>
<!--                </a>
<!--                {% if forloop.counter|divisibleby:"21" or forloop.last %}</div>{% endif %}
 <!--           {% endfor %}
 <!--         </div>
 <!--         <!-- Carousel nav --
 <!--         <nav id="slider-nav">
 <!--           {% for sponsor in all_sponsors %}
 <!--               {% if forloop.first or forloop.counter0|divisibleby:"21" %}
 <!--                   <a href="#" class="{% if forloop.first %}activeSlide{% endif %}"></a>
 <!--               {% endif %}
  <!--          {% endfor %}
   <!--       </nav>
<!--        </div>
 <!--   </div>
    <!-- End Pycon Code-->

<!--<div class="span12 sponsor-crawl">
    <h3 class="scroll-title">Sponsors</h3>
    <div class="sponsorship-link">
        <div>
            <span class="in-brackets"><em>Sponsorship available.</em> <a href="/sponsor/info" class="more">Learn more</a>.</span>
	  	</div>
    </div>
    <div id="sponsorslider" class="carousel slide">
        <!-- Carousel items -
        <div class="carousel-inner">
            <div class="item" style="margin: auto;">
				<a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
                	<div class="sponsor-scroll-item" style="background-image: url({{ sponsor.logo.url }});" data-background-2x="{{ sponsor.logo.url }}"></div>
                </a>
            </div>
        </div>
        <!-- Carousel nav --
     
        <nav id="slider-nav">
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
        </nav>
    </div>
</div>-->
<hr>

