<div class="span12 sponsor-crawl">
    <h3 class="scroll-title">Sponsors</h3>
    <div class="sponsorship-link">
        <div>
            <span class="in-brackets"><em>Sponsorship available.</em> <a href="/sponsor/info" class="more">Learn more</a>.</span>
	  </div>
    </div>
    <div id="sponsorslider" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item" style="margin: auto;">
                <a href="http://continuum.io/" title="Continuum Analytics, Inc.">
                	<div class="sponsor-scroll-item" style="background-image: url(' /static/sv2013/includes/images/continuum_analytics_colour2.png.95x95_q85.png');" data-background-2x="/static/sv2013/includes/images/continuum_analytics_colour2.png.190x190_q85.png"></div>
                </a>
            </div>
        </div>
        <!-- Carousel nav -->
     
        <nav id="slider-nav">
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
        </nav>
    </div>
</div>
<hr>

