<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{% block title %}PyData 2013 | Santa Clara, CA | March 18 &ndash; 20 {{ title }}{% endblock %}</title>
    {% block head_info %}
        {% include head %}
    {% endblock head_info%}
</head>
<body>
    {% block header %}
    	{% include smlheader %}
    {% endblock header %}
	<div class="container">
		<div class="row">

            <div class="span8">
            {% block main_content %}
                {% include page_path %}
            {% endblock main_content %}
            </div>
            
            <div class="span4">
            {% block sidebar %}
            	{% include sidebar %}
            {% endblock sidebar %}
            </div>
        </div>
         <hr>
        {% block footer %}
        {% include footer %}
    	{% endblock footer %}
	</div>
   
    
    
    {% include scripts %}
</body>
</html>