{% extends 'sv2013/templates/noside_wrapper.html'%}
{% block main_content %}
<h2>Schedule</h2>
    <hr />
{% for section in sections %}

<h3>{{ section.name }}</h3>
{% for sectionDay in section.sectionday_set.all %}
<h4>Schedule for {{ sectionDay.get_date }}</h4>
<div class="span12">
    <div class="box">
        <div class="box-content">  
            <table class="table">
            <thead class="sch_head">   <tr>
                <td><b>Time</b></td>
                {% for track in sectionDay.get_tracks %}
                    <td style=" text-align: center; width: inherit; "><b>{{ track.name }}</b></td>
                {% endfor %}
            </tr></thead>
            <tbody>
                {% for slot in sectionDay.timeslot_set.all %}
                    <tr>
                        <td class="time_slot"><b>{{ slot.start_time|date:'g:i a' }}</b></td>
                        {% for item in slot.scheduleditem_set.all %}
                            {% if not item.track %} 
                        <td class="sch_{{ item.itemType.name|slugify }}" colspan="{{ sectionDay.get_tracks|length }}">
                            {% elif item.num_slots > 1 %}
                        <td class="sch_{{ item.itemType.name|slugify }}" rowspan="{{ item.num_slots }}">
                            {% else %}
                        <td class="sch_{{ item.itemType.name|slugify }}">
                            {% endif %} 
                            {% if item.presentation %}
                            <div class="sch_speaker">
                            {% for speaker in item.presentation.speaker.all %}
                            {% if item.itemType.name = "Keynote" %}<a href="/speakers/bios">{{ speaker.name }}</a>{% else %}<a href="/speakers/#{{speaker.id}}">{{ speaker.name }}</a>{% endif %}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </div>
                                <div class="sch_title">
                                {% if item.itemType.name = "Keynote" %}
                                    {{ item.presentation.title }}
                                {% else %}
                                    <a href="/abstracts/#{{ item.presentation.id }}">{{ item.presentation.title }}</a>
                                {% endif %}
                                </div>
                            {% elif item.content_override%}
                                <div class="sch_content">{{ item.content_override }}</div>
                            {% else %}
                                <div class="sch_content">{{ item.itemType.name }}</div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody></table>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}
