{% extends 'sv2013/templates/noside_wrapper.html'%}
{% block main_content %}
<h2>Schedule for {{ sectionDay.get_date }}</h2>
{% if user.is_authenticated %}Hello {{ user.get_full_name }}{% endif %}
<hr />
<div class="span12">
    <div class="box">
        <div class="box-content">  
            <table class="table">
            <thead class="sch_head">   <tr>
                <td>Time</td>
                {% for track in sectionDay.get_tracks %}
                    <td>{{ track.name }}</td>
                {% endfor %}
            </tr></thead>
            <tbody>
                {% for slot in slots|dictsort:'start_time' %}
                    <tr>
                        <td class="time_slot">{{ slot.start_time|date:'g:i a' }}</td>
                        {% for item in slot.scheduleditem_set.all %} 
                            {% if not item.track %} 
                        <td class="sch_span sch_{{ item.itemType.name|slugify }}" colspan="{{ sectionDay.get_tracks|length }}">
                            {% elif item.num_slots > 1 %}
                        <td class="sch_{{ item.itemType.name|slugify }}" rowspan="{{ item.num_slots }}">
                            {% else %}
                        <td class="sch_{{ item.itemType.name|slugify }}">
                            {% endif %} 
                            {% if item.presentation %}
                            <div class="sch_speaker">
                            {% for speaker in item.presentation.speaker.all %}
                            {% if forloop.last and not forloop.first %}and {% endif %}{{ speaker.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </div>
                                <div class="sch_title">{{ item.presentation.title }}</div>
                            {% elif item.content_override%}
                                <div class="sch_content">{{ item.content_override }}</div>
                            {% else %}
                                <div class="sch_content">{{ item.itemType.name }}</div>
                            {% endif %}
                            {% if user.is_staff %}
                                <em>{{ item.track }}</em>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody></table>
        </div>
    </div>
</div>
{% endblock %}