{% extends 'templates/wrapper.html' %}

{% block main_content %}
<div class="span8">

    <p> 
            Speaker name:<br/>
            {{ proposal.speaker_name }}
    </p>
    <p> 
            Speaker email:<br/>
            {{ proposal.speaker_email }}
    </p>
    <p> 
            Title:<br/>
            {{ proposal.title }}
    </p>
    <p> 
            Abstract:<br/>
            {{proposal.abstract}}
    </p>
    <p> 
            Bio:<br/>
            {{proposal.bio}}
    </p>
    <p> 
            Additional info:<br/>
            {{proposal.additional_info}}
    </p>

</div>
{% endblock %}
