{% extends conf_id|add:'/templates/wrapper.html'%}
{% block main_content %}
<div class="span8">
<h2>Presentation Abstracts</h2>
<p><i>(click on the Title to view presentation details)</i></p>
<hr />
{% for abstract in abstracts %}
<a name="{{ abstract.id }}"></a>
<div class="box">
	<div class="box-content">
        <div class="accordion-group">
            <div class="accordion-heading abstract">
              <a class="accordion-toggle" data-toggle="collapse" href="#{{ abstract.id }}_">
                <h4>{{ abstract.title }}</h4></a>
                <h5>{% for item in abstract.scheduleditem_set.all %}
                    {{ item.timeSlot.sectionDay.get_date|date:'M d' }} - {{ item.timeSlot.start_time }}
                {% endfor %}</h5>
                <h5>{% for speaker in abstract.speaker.all %}
                    {% if speaker.name = 'TBD' %}{% else %}
                    <a href="/speakers/#{{speaker.id}}">{{speaker.name}}</a>{% endif %}{% if not forloop.last %},{% endif %}
                {% endfor %}</h5>
            </div>
            <div id="{{ abstract.id }}_" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ abstract.abstract|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
