<h2>Our Sponsors</h2>
<hr />
<div class="span12">
    <h4 style="text-align: center"> Pydata Presented By </h4>
    <div class="row">
        <div class="span6" style="margin-left: 250px">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#continuum">
                                    <img class="myimg" src="/static/sv2013/includes/images/continuum_analytics_colour2.png.95x95_q85.png" />
                                </a></h2>
                        </div>
                        <div id="continuum" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Continuum Analytics</h5>
                                <p><a href="http://www.continuum.io">http://www.continuum.io</a></p>
                                <p>Continuum’s mission is to revolutionize how the world's data is stored, computed, and visualized. We provide scientists with Python-based tools for Data Integration on a massive scale, based on our view of a structured, universal "data web".  In the same way that URL, HTML, and HTTP form the basis of the World Wide Web for documents, our technologies will be the fabric for structured and numerical data and will spearhead innovations in data management, analytics, and distributed computation.</p>  

								<p>Continuum provides software tools, training, and integration/consulting services to corporate, government, and educational clients worldwide. Our areas of expertise include geophysics, finance, business and marketing analytics and data science.  To learn more about Continuum visit: <a href="http://www.continuum.io">http://www.continuum.io</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 style="text-align: center"> {{ sponsor_level }} </h4>
    <div class="row">

        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#numfocus"><img src="/static/sv2013/includes/images/NF95pxw.png" />
                            </a></h2>
                        </div>
                        <div id="{{ sponsor_id }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>{{ sponsor_name }}</h5>
                                <p><a href="{{ sponsor_website }}">{{ sponsor_website }}</a></p>
                                {{ sponsor_description }}
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 style="text-align: center"> GOLD </h4>
    <div class="row">
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 style="text-align: center"> SILVER </h4>
    <div class="row">
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 style="text-align: center"> COPPER </h4>
    <div class="row">
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 style="text-align: center"> STUDENT </h4>
    <div class="row">
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                        	</div>
                        </div>
                	</div>
            	</div>
        	</div>
    	</div>
    </div>
    <h4 style="text-align: center"> MEDIA </h4>
    <div class="row">
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#name"><img src="" />
                            </a></h2>
                        </div>
                        <div id="" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Company Name</h5>
                                <p><a href="http://company.com">http://company.com</a></p>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>



