{% extends 'sv2013/templates/noside_wrapper.html' %}
{% block main_content %}
<h2>Our Sponsors</h2>
<hr />
<div class="span12">
    <h4 style="text-align: center"> Pydata Presented By </h4>
    <div class="row">
        <div class="span6" style="margin-left: 250px">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#continuum">
                                    <img style="width: 30%" class="myimg" src="/static/sv2013/includes/images/continuum_analytics_colour2.png.95x95_q85.png" />
                                </a></h2>
                        </div>
                        <div id="continuum" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>Continuum Analytics</h5>
                                <p><a href="http://www.continuum.io">http://www.continuum.io</a></p>
                                <p>Continuum’s mission is to revolutionize how the world's data is stored, computed, and visualized. We provide scientists with Python-based tools for Data Integration on a massive scale, based on our view of a structured, universal "data web".  In the same way that URL, HTML, and HTTP form the basis of the World Wide Web for documents, our technologies will be the fabric for structured and numerical data and will spearhead innovations in data management, analytics, and distributed computation.</p>  

								<p>Continuum provides software tools, training, and integration/consulting services to corporate, government, and educational clients worldwide. Our areas of expertise include geophysics, finance, business and marketing analytics and data science.  To learn more about Continuum visit: <a href="http://www.continuum.io">http://www.continuum.io</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% for level in levels %}
{% if level.sponsors.all %}
    <h4 style="text-align: center"> {{ level.name|upper }} </h4>
    <div class="row">
        {% for sponsor in level.sponsors.all %}
        <div class="span4">
            <div class="accordion-group">
                <div class="sponsor">
                    <div class="sponsor-content">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" href="#{{ sponsor.id_tag }}"><img style="width: 80%; height: 50px;" src="{{ sponsor.logo.url }}" height="{{ level.small_logo_height }}"/>
                            </a></h2>
                        </div>
                        <div id="{{ sponsor.id_tag }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <h5>{{ sponsor.name }}</h5>
                                <p><a href="{{ sponsor.url }}">{{ sponsor.url }}</a></p>
                                {{ sponsor.description|safe }}
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}


