body {
	font-family: 'Helveltica Neue', Helvetica, Verdana, Sans-serif;
}

div {
	border: 1px solid black;
}

.fixed{
	position: fixed;
	border: 2px dashed violet;
	width: 100%;
}

.account-bar {
	background-color: red;
	height: 40px;
}

.login-menu {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


.menu-bar {
	background-color: green;
	height: 40px;
}

.nav-menu {
	width: 960px;
}
.
.masthead {
	padding-top: 80px;
}