<div class="banner">
    <div class="row">
    	<div class="white">
            <div class="container">
                <div style="margin-left: auto; margin-right: auto">
                    <h1><a href="http://pydata.org/" class="logo">PyData bos2013</a></h1>
                    <h2>Boston, MA - July 27-28 2013</h2>
                </div>
            </div>
        </div>
        <div class="grey">
            <div class="container">
                <div class="row" style="height: 40px">
                    <div class="span12" >
                        <h4>Changing the way scientists, engineers, and analysts perceive big data</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orange">
            <div class="container">
                <div class="span12">
                  <h3>July 27-28 2013</h3>
                  <h3 style="margin-bottom: 25px;"><b>Microsoft NERD</b><br />
                    Cambridge, MA</h3>
                </div>
            </div>
        </div>
    </div>
</div>

