<header class="main">
	<div>
    	<div class="container" style="margin-top: -20px">
        	<a href="/"><img style="height: 90px; margin: 0 0 -115px 0px;" src="/static/bos2013/includes/images/pdoutlined.png" /></a>
            <div class="">
		</div>
        </div>
        <div class="blue"></div>
        <div class="navbg">
        	<div style="float: left; margin-top: -40px; margin-left: 10px;">
            <a href="https://twitter.com/PyDataConf" title="Follow @PyDataConf on Twitter" target="_blank"><img src="/static/base/includes/images/twitter_header.png" alt="Follow @continuumio on Twitter" width="33" height="33"></a>
			</div>
            <div class="container" style="height: 50px; ">
            	{% include navmenu %}
            </div>
            <div style="width: 100; float: right; margin-top: -90px; margin-right: 10px">
                <a href="http://www.eventbrite.com/event/4732315483?ref=ebtnebregn" target="_blank">
                    <button class="btn btn-default btn-primary" type="button">Register</button></a>
            </div>
        </div>
	</div>

</header>
